<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

    <title>NCOVI</title>
</head>

<body>

    <div id="app" class="container-fluid font-weight-bold">
        <div class="row mb-2">
            <h5 class="col text-uppercase text-center">Unofficial NCOVI DATA</h5>
        </div>
        <nav class="row navbar navbar-light fixed-top" id="fixed-nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse p-3" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#general">
                            <i class="fas fa-home"></i>
                            Tổng quan <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#detail">
                            <i class="fas fa-info-circle"></i>
                            Chi tiết
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#notification">
                            <i class="fas fa-bell"></i>
                            Thông báo mới
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#visualize">
                            <i class="fas fa-chart-bar"></i>
                            Trực quan
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <main>
            <section id="general" class="my-5">
                <p class="section__title text-uppercase">Tổng quan</p>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-vn-tab" data-toggle="tab" href="#tab-vn">Việt Nam</a>
                        <a class="nav-link" id="nav-world-tab" data-toggle="tab" href="#tab-world">Thế Giới</a>
                    </div>
                </nav>
                <div class="tab-content">
                    {{#data}}
                    <div id="tab-vn" class="card tab-pane fade show active">
                        <div class="card-body container">
                            <div class="row mt-1">
                                {{#vietnam}}
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-danger">Tổng số ca nhiễm: </span>
                                    <span class="number p-2 rounded-pill bg-danger text-light">
                                        {{total}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-warning">Đang điều trị: </span>
                                    <span class="number p-2 rounded-pill bg-warning text-light">
                                        {{active}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-success">Đã khỏi: </span>
                                    <span class="number p-2 rounded-pill bg-success text-light">
                                        {{recovered}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-dark">Tử vong: </span>
                                    <span class="number p-2 rounded-pill bg-dark text-light">
                                        {{dead}}
                                    </span>
                                </div>
                                {{/vietnam}}
                            </div>
                        </div>
                    </div>
                    <div id="tab-world" class="card tab-pane fade">
                        <div class="card-body">
                            <div class="row mt-1">
                                {{#world}}
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-danger">Tổng số ca nhiễm: </span>
                                    <span class="number p-2 rounded-pill bg-danger text-light">
                                        {{total}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-warning">Đang điều trị: </span>
                                    <span class="number p-2 rounded-pill bg-warning text-light">
                                        {{active}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-success">Đã khỏi: </span>
                                    <span class="number p-2 rounded-pill bg-success text-light">
                                        {{recovered}}
                                    </span>
                                </div>
                                <div class="col-12 col-md-3 my-2 content-box">
                                    <span class="title mb-2 text-left text-dark">Tử vong: </span>
                                    <span class="number p-2 rounded-pill bg-dark text-light">
                                        {{dead}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {{/world}}
                    </div>
                    {{/data}}
                </div>
            </section>
            <section id="detail" class="my-5">
                <p class="section__title text-uppercase">Chi tiết</p>
                <div class="card section__content">
                    <div class="card-body">
                        {{#data}}
                        <div class="table-responsive">
                            {{{detailTable}}}
                        </div>
                        {{/data}}
                    </div>
                </div>
            </section>
            <section id="notification" class="my-5">
                <p class="section__title text-uppercase">Thông báo mới</p>
                <div class="card section__content">
                    <div class="card-body">

                    </div>
                </div>
            </section>
            <section id="visualize" class="my-5">
                <p class="section__title text-uppercase">Trực quan</p>
                <div class="card section__content">
                    <div class="card-body">

                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>